@font-face {
    src: url('../font/Montserrat-Medium.ttf');
}

@font-face {
    src: url('../font/Montserrat-Bold.ttf');
}

@font-face {
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    src: url('../font/Montserrat-Light.ttf');
}

.text {
    -fx-font-family: "Montserrat";
}