<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
		<!-- Database for testing, url here -->
		</property>
		<property name="hibernate.connection.username">
		<!-- Database for testing, credentials, username -->
		</property>
		<property name="hibernate.connection.password">
		<!-- Database fort testing, credentials, password -->
		</property>
		<property name="hbm2ddl.auto">validate</property>
		<property name="show_sql">true</property>
		<mapping class="model.Asiakas" />
		<mapping class="model.Tili" />
		<mapping class="model.Maksutapahtuma" />
		<mapping class="model.Osoite" />
		<mapping class="model.Postitoimipaikka" />
		<mapping class="model.Valuutta" />
		<mapping class="model.Maksupohja"/>
	</session-factory>
</hibernate-configuration>